#page-content {
  margin-left:0;
}
footer {
  margin-left:0;
}

.search-container label {
  margin:0 0 6px;
}
.search-container .select2 {
  margin:0 0 10px;
}

.workers-table .times-group-start {
  border-left:1px solid #e6e7e8;
  padding-left:15px;
}
.workers-table .times-group-end {
  border-right:1px solid #e6e7e8;
  padding-right:15px;
}
.select2-result.worker-accepted {
  color:#529e1e;
}
.select2-result.worker-unentered {
  color:red;
}
.select2-results .select2-result.worker-accepted.select2-highlighted {
  background:#529e1e;
  color:#fff;
}
.workers-table input {
  min-width:inherit;
}

.report-table .divider {
  padding:0 8px;
}
.report-table thead > tr > th {
  vertical-align:top;
}
.report-table tbody .work-row td:first-child {
  padding-left:20px;
}

.summary-row {
  margin:0;
  padding:20px;
  width:100%;
  position:fixed;
  bottom:0;
  right:0;
}
.summary-table {
  margin:0;
}

.follow-ups-table .status-dd {
  display:inline-block;
  position: relative;
}
.follow-ups-table .status-dd .dropdown-menu {
  left:0;
  right:auto;
  padding:0;
  min-width:100px;
}

.navbar-register {
  margin: 10px 0 0 10px;
  display: block;
  float: left;
}
